<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>Persone</title>
</head>
<body>
	<div>
		<h4>Elenco persone:</h4>
		<ul>
			<li th:each="persona : ${persone}"><a href="persona.html"
				th:href="@{'/persona' + '/' + ${persona.id}}"
				th:text="${persona.nome} + ' ' + ${persona.cognome}">Paolo Rossi</a>
				<a th:href="@{'/wantToDeletePersona' + '/' + ${persona.id}}" th:text="cancella">cancella</a>
			</li>
		</ul>

 	</div>
	<footer>
		<a href="/">Home</a>
	</footer>
</body>
</html>